body {
  background-color: #ffde9f;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}